@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
.title {
    font-size: 1.2em;
    font-family: 'Josefin Sans', sans-serif;
    padding-bottom: 2em;
}

html {
    scroll-behavior: smooth;
}

.days {
    padding-top: 2em;
}

.day-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  
  .day-card {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2s;
    border-radius: 0.5em;
  }
  
  .day-card:hover {
    transform: scale(1.05);
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-title {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    box-sizing: border-box;
    font-size: 0.8em;
  }

  .title-blog {
    font-family: 'Playfair Display', serif; /* Example using Playfair Display */
    font-size: 36px; /* Larger font size for emphasis */
    font-weight: bold;
    color: #333; /* Dark color for contrast */
    letter-spacing: 1px; /* Slightly increased letter spacing for a more elegant look */
    margin-bottom: 50px; /* Space below the title */
  }
  


